body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-section-text {
  color: white !important;
} 

.customer-btn-color {
  background-color: #2E8BC0 !important;
}

#HomeChoose {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #2E8BC0 !important;
  color: white;
}

#NavLogo {
  color: #2E8BC0;
  font-weight: 600;
}

#HeroService {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2E8BC0 !important;
  color: white;
}

#ServiceTypes {
  display: flex;
  flex-wrap: wrap;
  
}
